node_modules
dist/
build/
**/.DS_Store
.config.json

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# terraform files
**/.terraform/*
**/backend.tf
*.tfstate
*.tfstate.*
*.tfvars
terraform/*.zip
